 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Gothic', Arial, sans-serif;
     scroll-behavior: smooth;
     --white: white;
     --principal_dark: #404A3E;
     --principal_light: #B0CCAB;
     --principal: #768973;
     --secondaire: #FFE1EB;
     --secondaire_dark: #665A5E;
     --secondaire_light: #E6CAD3;
     --grey: #D4D4D4;
     --title_shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
     --card_shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }


 nav {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 nav ul {
     display: flex;
     text-decoration: none;
     align-items: baseline;
     justify-content: center;
     margin-top: 25px;
 }

 nav ul li {
     list-style-type: none;
     margin: 0 10px;
     transition: transform ease-in-out 0.2s;
     padding: 10px;
 }

 nav ul li a {
     color: var(--principal_dark);
     text-decoration: none;
     font-size: 1em;

 }

 a {
     text-decoration: none;
     color: black;
     cursor: pointer;
 }


 .logo {
     width: 111px;
     height: 64px;
     margin: 10px;
     margin-right: 0%;
     position: absolute;
     right: 89%;
     top: -1%;
 }

 .util_icone {
     position: absolute;
     width: 35px;
 }

 .panier {
     left: 88%;
     top: 5%;
 }

 .recherche {
     left: 93%;
     top: 4%;
     width: 43px;
 }

 .banniere {
     background-image: url(../image/banniere.svg);
     width: 100%;
     height: 451px;
     margin-top: 50px;
     display: flex;
 }


 .para_banniere p {
     width: 48%;
     font-size: xx-large;
     color: var(--white);
     text-align: center;
     margin: 118px 17px 29px 39px;
 }

 .para_banniere {
     justify-content: end;
     display: flex;
 }

 .tt_ventes {
     text-align: center;
     margin-top: 30px;
     font-weight: normal;
 }

 .section_container {
     background-image: url(../image/background.svg);
     width: 100%;
 }

 /* *********************************CARDS ******************************** */

 .card {
     width: 190px;
     height: 254px;
     padding: .8em;
     background: var(--grey);
     position: relative;
     overflow: visible;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     margin-top: 79px;
     text-decoration: none;
 }

 .card_container a {
     text-decoration: none;
     color: var(--principal_dark);

 }

 .card-img {
     background-color: #ffcaa6;
     height: 40%;
     width: 100%;
     border-radius: .5rem;
     transition: .3s ease;
 }

 .card-info {
     padding-top: 10%;
 }

 svg {
     width: 20px;
     height: 20px;
 }

 .card-footer {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 10px;
     border-top: 1px solid #ddd;
 }

 /*Text*/
 .text-title {
     font-weight: 900;
     font-size: 1.2em;
     line-height: 1.5;
 }

 .text-body {
     font-size: .9em;
     padding-bottom: 10px;
 }

 /*Button*/
 .card-button {
     border: 1px solid #252525;
     display: flex;
     padding: .3em;
     cursor: pointer;
     border-radius: 50px;
     transition: .3s ease-in-out;
 }

 /*Hover*/

 .card-button:hover {
     border: 1px solid var(--principal_dark);
     background-color: var(--principal);
 }

 .card_container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 88%;
     margin: 0 auto;
     padding-bottom: 6%;

 }

 /* ************************ */

 .choice_event_title {
     background-color: var(--grey);
     padding: 22px;
     width: 37%;
     border-bottom-right-radius: 15px;
     border-top-right-radius: 15px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }

 .choice_event_title h1 {
     color: var(--principal_dark);
     text-align: center;
     font-size: 1.5rem;
     font-weight: normal;
 }

 /* **********grid présentations evenenement */
 .parent {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-column-gap: 9px;
     grid-row-gap: 9px;
     margin: 120px;
 }

 .div1 {
     grid-area: 1 / 1 / 2 / 2;
     background-image: url(../image/event/REMERCIMENTS.svg);
     height: 378px;
     background-repeat: no-repeat;
     background-size: contain;
     transition: ease-in-out .2s;

 }

 .div2 {
     grid-area: 1 / 2 / 2 / 3;
     background-image: url(../image/event/naissance.svg);
     background-size: contain;
     height: 378px;
     background-repeat: no-repeat;
     transition: ease-in-out .2s;

 }

 .div3 {
     grid-area: 2 / 1 / 3 / 3;
     background-image: url(../image/event/mariages.svg);
     height: 378px;
     background-repeat: no-repeat;
     background-size: contain;
     transition: ease-in-out .2s;

 }

 .div4 {
     grid-area: 3 / 1 / 4 / 2;
     background-image: url(../image/event/amoursentiment.svg);
     height: 378px;
     background-repeat: no-repeat;
     background-size: contain;
     transition: ease-in-out .2s;

 }

 .div5 {
     grid-area: 3 / 2 / 4 / 3;
     background-image: url(../image/event/anniv.svg);
     height: 378px;
     background-repeat: no-repeat;
     background-size: contain;
     transition: ease-in-out .2s;

 }

 .div1:hover {
     transform: scale(0.97);
     transition: ease-in-out .2s;
 }

 .div2:hover {
     transform: scale(0.97);
     transition: ease-in-out .2s;
 }

 .div3:hover {
     transform: scale(0.97);
     transition: ease-in-out .2s;
 }

 .div4:hover {
     transform: scale(0.97);
     transition: ease-in-out .2s;
 }

 .div5:hover {
     transform: scale(0.97);
     transition: ease-in-out .2s;
 }

 .selection {
     text-align: center;
     color: var(--principal_dark);
     font-weight: normal;
     font-size: xx-large;
 }

 .fleurs {
     margin-top: 10%;
 }


 /* *****************************/

 .lien_fleur {
     background-color: var(--principal);
     padding: 5px;
     width: 2%;
     text-decoration: none;
     color: var(--white);
     display: flex;
     width: 5%;
     text-align: center;
     border-radius: 15px;
     justify-content: center;
     margin-left: 93%;
     box-shadow: var(--title_shadow);
 }

 .container_pres_blog {

     width: 80%;
     justify-content: space-around;
     background-color: var(--principal_light);
     margin: 10% auto;
     border-radius: 15px;
 }

 .texte_blog {
     display: flex;
     font-size: xx-large;
     padding: 3%;
 }

 .lien_blog {
     text-decoration: none;
     color: var(--white);
     background-color: var(--principal);
     padding: 20px;
     border-radius: 15px;
     text-align: center;
     width: 32%;
     display: inline-block;
     font-size: x-large;
     margin-top: 13%;
     margin-left: 30%;
     transition: ease-in-out .2s;
 }

 .lien_blog:hover {
     background-color: var(--principal_dark);
     transition: ease-in-out .2s;
 }

 .texte_blog p {
     padding: 4%;
 }

 .container_delivery {
     display: flex;
     justify-content: space-around;
     width: 100%;
 }

 .form_inscritpion {

     margin-top: 3%;
 }

 .etape {
     display: flex;
     justify-content: center;
     border: solid black 1px;
     margin-top: 50px;
     width: 30%;
     height: 200px;
     background-color: var(--white);
 }

 .rond {
     border-radius: 50%;
     background-color: var(--principal);
     padding: 0px;
     width: 107%;
     height: 65%;
     text-align: center;
     margin-top: 11%;
     margin-left: 2%;
 }

 .txt_livr {
     font-size: xxx-large;
     margin-top: 27%;
     color: var(--white);
 }

 .descr_etape {
     margin-top: 19%;
     margin-left: 5%;
 }

 .rond_deux {
     width: 75%;
 }

 .free_delivery {
     text-align: center;
     margin-top: 40px;
 }

 .rond_un {
     width: 131%;
     height: 63%;
 }

 .explication_delivery {
     width: 80%;
     background-color: var(--principal_light);
     margin: 5% 5% 0 11%;
     padding: 3%;
     font-size: x-large;
     border-radius: 23px;
     text-align: center;
 }

 /* fin page d'accueil ********************** */


 /* **************************  FOOTER *************************** */

 .contain_footer {
     margin-top: 15%;
     width: 100%;
     background-color: var(--secondaire_light);

 }

 .top_footer {
     display: flex;
 }

 .buy_secure {
     margin-top: 5%;
     font-weight: normal;
     width: 118%;
     margin-bottom: 18px;

 }

 .achat_top {
     display: inline-block;
     width: 21%;
     margin-left: 3%
 }


 .logo_footer {
     margin-left: 15%;
     border-radius: 15px;
 }

 .legals {
     font-weight: normal;
     margin-left: 144px;
     margin-top: 5%;

 }

 .mentions_container li {
     margin-left: 123px;
     margin-top: 32px;
 }

 .bootom_footer h3 {
     margin-bottom: 12%;
     font-weight: normal;
 }

 .bootom_footer {
     display: flex;
     margin-top: 129px;
     justify-content: space-between
 }

 .contain_contact {
     width: 33%;
     text-align: center;

 }

 .contain_contact img {

     margin-bottom: 3%;
 }

 .contain_contact p {

     margin-bottom: 3%;
 }

 .li_pages li {
     margin-bottom: 9%;
 }

 .droits {
     padding: 20px;
     text-align: center;
 }


 .message {
     position: absolute;
     left: 45%;
     top: 57%;
     background-color: var(--secondaire_dark);
     color: var(--white);
     padding: 10px;
     box-shadow: var(--title_shadow);
     border-radius: 15px;
 }



 /* ***************************** cart  */


 .container_cart {
     background-image: url(../image/background.svg);
     margin-top: 2%;
 }

 .detail {
     background-color: var(--principal);
     border-radius: 50%;
     width: 20px;
     height: 20px;
 }

 .boite_detail {
     text-align: center;
     text-align: -moz-center;
 }

 .chemin {
     display: flex;
     justify-content: space-around;
     padding: 2%;
 }

 .para_chemin {
     color: var(--principal_dark);
 }

 .panier_title {
     color: var(--principal_dark);
     margin-top: 5%;
     margin-left: 1%;
 }

 .article_container {
     margin: 3% auto;
     display: flex;
     border-radius: 20px;
     width: 95%;
     height: 220px;
     background-color: var(--secondaire_dark);
     color: var(--white);
 }

 .image_titre_produits {
     display: flex;
     width: 74%;
 }

 .image_titre_produits h3 {
     margin: 10%;
 }

 .img_card {
     width: 100%;
     height: 100%;
 }

 .image_panier {
     width: 30%;
     height: 100%;
 }



 .prix_titre_contain {
     display: flex;
 }

 .quantite_prix {
     margin-top: 9%;
     margin-left: 30%;
 }

 .quantite_prix input {
     height: 19%;
     text-align: center;
     width: 116%;
     margin-top: 49px;
 }

 .prix {
     margin-top: 56px;
 }

 .img_poubelle {
     margin-top: 50px;
     transition: ease-in .08s;
 }

 .img_poubelle:hover {
     transition: ease-in .08s;
     transform: scale(0.9);
 }

 .contain_total {
     display: flex;
     justify-content: end;
     margin: 3%;
 }

 .total_prix {
     background-color: var(--secondaire_dark);
     padding: 13px;
     color: var(--white);
     width: 15%;
     text-align: center;
     border-radius: 20px;

 }

 .total_prix p {
     margin-bottom: 10px;
 }


 .boite_btn {
     width: 57%;
     margin-left: 38%;
 }

 .boite_btn a input {
     padding: 10px;
     width: 40%;
     border-radius: 20px;
     box-shadow: var(--card_shadow);
     font-size: larger;
     border: none;
 }

 .btn_continue {
     background-color: var(--principal_light);
     margin-right: 10%;
 }

 .btn_valider {
     background-color: var(--secondaire_dark);
     color: var(--white);

 }

 /* *************************************** article page */
 .contain_articles {
     background-image: url(../image/background.svg);
     background-repeat: no-repeat;

 }

 .titre {
     text-align: center;
     margin-top: 50px;
 }

 .titre h1 {
     padding-top: 50px;
     font-weight: normal;
     margin-bottom: 32px;
 }

 .contain_header_articles {
     background-color: var(--secondaire_dark);
     color: var(--white);
 }

 .contain_btn {
     display: flex;
     justify-content: center;
     color: var(--white);
 }

 .contain_btn a {
     background-color: var(--secondaire_light);
     padding: 10px;
     margin: 49px;
     border-radius: 15px;

     box-shadow: var(--card_shadow);

 }

 .evenement_tri {
     margin-left: 50px;
 }

 #evenements {
     border: none;
     border-radius: 12px;
     padding: 8px;
     background-color: var(--secondaire_light);
     box-shadow: var(--card_shadow);
     color: var(--principal_dark);
     margin-bottom: 10px;
     cursor: pointer;
 }

 .event {
     cursor: pointer;
 }

 .a {
     cursor: pointer;
 }

 .title_livr {
     margin-top: 100px;
     background-color: var(--principal_dark);
     color: var(--white);
     width: 33%;
     padding: 18px;
     text-align: center;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
 }

 /* ********************************** formuliare  ***************************************** */



 input::placeholder {
     font-size: var(--text-s);
 }

 textarea::placeholder {
     font-size: var(--text-s);
 }

 /***** Formulaire d'inscription *****/
 .inscription-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .inscription-title {
     display: block;
     text-align: center;
     font-weight: 600;
     font-size: calc(var(--primary-title-s) * 0.75);
     margin-bottom: 40px;
 }

 @media screen and (min-width: 768px) {
     .inscription-title {
         display: block;
         text-align: center;
         font-weight: 600;
         font-size: calc(var(--primary-title-s) * 0.75);
         margin: 55px;
     }
 }

 .inscription-label {
     text-transform: uppercase;
     font-weight: 500;
     margin: auto 20px;
 }

 .inscription-span {
     color: var(--secondary-color-intense);
 }

 .inscription-input {
     border: 1px solid #d9d9d9;
     width: 90vw;
     height: 35px;
     margin: 10px auto 25px;
     flex-grow: 1;
     box-shadow: 0 0 2px var(--shadow);
 }

 .inscription-message {
     border: 1px solid #d9d9d9;
     width: 90vw;
     margin-top: 10px;
     margin-bottom: 25px;
     flex-grow: 1;
     margin: 10px auto 25px;
     resize: none;
     outline: none;
     box-shadow: 0 0 2px var(--shadow);
 }

 /* input color behaviour */
 .inscription-message:focus,
 .inscription-input:focus,
 .inscription-message:hover,
 .inscription-input:hover {
     outline: 1px solid var(--primary-color-dark);
     box-shadow: 0 0 2px rgba(0, 0, 0, 50%);
 }

 .inscription-message:invalid:focus,
 .inscription-input:invalid:focus {
     outline: 1px solid red;
 }

 .inscription-message:valid:focus,
 .inscription-input:valid:focus {
     outline: 1px solid green;
 }

 .inscription-message::placeholder,
 .inscription-input::placeholder {
     color: var(--primary-color);
     font-family: Inter;
     padding: 5px 15px;
 }

 /* input style & sizing */
 .input-wrapper {
     display: flex;
     flex-direction: column;
 }

 .inscription-label-legend {
     text-transform: uppercase;
     font-weight: 500;
 }

 .checkbox-list-wrapper ul {
     margin: 30px 0 50px;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 30px;
 }

 .checkbox-list-wrapper li {
     list-style: none;
     display: flex;
     align-items: center;
     margin-left: 20%;
     margin-bottom: 30px;
 }

 .inscription-label-checkbox {
     display: inline-block;
     text-transform: capitalize;
     font-weight: 500;
     padding: 0 20px;
     font-size: var(--text-s);
 }

 .inscription-label-checkbox span {
     font-style: italic;
     font-weight: 400;
 }

 /* Bouton submit */
 .submit-wrapper {
     width: 95%;
     margin: 10px auto 40px auto;
 }

 .block-button {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .block-button button {
     background-color: var(--secondaire_dark);
     flex-grow: 1;
     margin: 0;
     padding: 0;
     font-family: "Inter", sans-serif;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 12px;
     border: none;
     padding: 15px 0;
 }

 @media screen and (min-width: 768px) {
     .form_inscritpion {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
     }

     .inscription-input,
     .inscription-message {
         width: auto;
         margin: 15px 0;
     }

     .inscription-label {
         margin: 10px 0 0px;
     }

     .input-wrapper {
         width: 45%;
     }

     .input-wrapper-full {
         width: 95%;
         justify-self: center;
     }

     .checkbox-wrapper {
         display: flex;
         flex-direction: column;
         width: 95%;
     }

     .checkbox-list-wrapper li {
         margin-left: 0;
     }

     .block-button button {
         width: 80vw;
     }
 }

 .tt_infos {
     color: var(--white);
     background-color: var(--principal);
     padding: 18px;
     border-radius: 15px;
     width: 40%;
     margin: 5%;
     text-align: center;
 }


 .prgm_livre {
     margin-left: 11%;
 }

 .livr_mtn {
     border: none;
     padding: 15px;
     background-color: var(--secondaire_dark);
     color: white;
     margin-top: 5%;
     margin-bottom: 5%;
     border-radius: 15px;
 }

 .ville {
     border: none;
     padding: 5px;
     background-color: var(--secondaire_dark);
     color: white;
     margin-top: 5%;
     margin-bottom: 5%;
     border-radius: 15px;
 }


 /* **************************************** SHOW ONE *************************** */




 .container_unarticle {
     background-image: url(../image/background.svg);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .tt_art {
     text-align: center;
     color: var(--secondaire_dark);
     padding: 51px 0;
     margin-bottom: 4%;
     margin-top: 2%;

 }

 .caract_titre {
     text-align: center;
     color: var(--secondaire_dark);
     padding: 51px 0;
     margin-bottom: 4%;
     margin-top: 2%;
     margin-left: 53%;
 }

 .img_article {
     width: 40%;
     height: 25%;
     margin-left: 8%;
     margin-bottom: 8%;
     border-radius: 15px;
 }

 .image_caracteristique {
     display: flex;
 }

 /* Style de base pour le tableau */
 table {
     border-collapse: collapse;
     width: 100%;
     text-align: center;
     margin-top: 20px;
     margin-left: 38%;
     margin-bottom: 67%;
 }

 th,
 td {
     border: 1px solid #ddd;
     padding: 8px;
 }

 th {
     background-color: var(--secondaire_dark);
     color: var(--white);
     font-weight: bold;
 }

 /* Ajout de bandes alternées pour les lignes du tableau */
 tr:nth-child(even) {
     background-color: var(--secondaire_dark);
     color: var(--white);
 }


 /* Style pour la div "caract" */
 .caract {
     width: 30%;
     margin-left: 20px;
 }



 .btn_panier {
     text-align: center;
     color: var(--secondaire_dark);
     padding: 51px 0;
     margin-bottom: 4%;
     margin-top: -32%;
     margin-left: 79%;
 }

 .ajt_panier {
     position: absolute;
     right: 15%;
     background-color: var(--secondaire_dark);
     padding: 20px;
     border-radius: 16px;
     color: white;
     box-shadow: var(--card_shadow);
 }

 .desc {
     margin-right: 49%;
     text-align: center;
     padding-bottom: 10%;
 }


 /* 
 lotterie */

 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 5%;
 }

 .machine {
     display: flex;
     border: 5px solid #BFCAB8;
     padding: 20px;
     background-color: #fff;
 }

 .slot {
     position: relative;
     width: 100px;
     height: 100px;
     border: 2px solid #658976;
     margin-right: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .symbol {
     font-size: 2em;
 }

 button {
     display: block;
     margin-top: 20px;
     padding: 10px 20px;
     font-size: 16px;
     border: none;
     background-color: #BFCAB8;
     color: #fff;
     cursor: pointer;
 }

 button:hover {
     background-color: #658976;
 }

 .slot.animate .symbol {
     animation: spin 2s ease-in-out;
 }

 /* Ajout des classes pour les slots gagnants */
 .slot.winner1 {
     background-color: gold;
 }

 .slot.winner2 {
     background-color: gold;
 }

 .slot.winner3 {
     background-color: gold;
 }

 @keyframes spin {
     0% {
         transform: rotateX(0);
     }

     50% {
         transform: rotateX(720deg);
     }

     100% {
         transform: rotateX(1440deg);
     }
 }

 .info_perso {
     margin: 2%;
     border: solid var(--secondaire_dark);
     padding: 10px;
 }

 .titre_page {
     text-align: center;
     margin: 2%;
     color: var(--principal_dark);
 }

 ._tt {
     margin-bottom: 2%;
 }

 .info_perso {
     margin-bottom: 2%;
     color: var(--principal_dark);
 }

 .flex {
     display: flex;
 }

 .livr {
     margin-top: 3%;
     margin-bottom: 10%;
     padding: 3%;
     font-size: large;
     border: none;
 }




 /* *************************   style formulaire inscritptions */

 #creationCommande {
     width: 500px;
     margin: 5% auto;
     padding: 20px;
     background-color: #f7f7f72b;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
 }

 #creationCommande fieldset {
     border: none;
     padding: 0;
 }

 #creationCommande legend {
     font-size: 1.5em;
     margin-bottom: 10px;
     margin: 0 auto;
 }

 #creationCommande p {
     margin-bottom: 15px;
 }

 #creationCommande label {
     display: block;
     margin-bottom: 5px;
 }

 .conn {
     font-size: 1.5em;
     margin-bottom: 10px;
     text-align: center;
 }


 #creationCommande input[type="text"],
 #creationCommande input[type="password"],
 #creationCommande input[type="tel"] {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 #creationCommande input[type="submit"],
 #creationCommande input[type="reset"] {
     padding: 10px 20px;
     color: white;
     border: none;
     border-radius: 4px;
     background-color: var(--secondaire_dark);
     cursor: pointer;
     margin-right: 10px;
 }

 #creationCommande input[type="submit"]:hover,
 #creationCommande input[type="reset"]:hover {
     background-color: var(--secondaire_dark);
 }



 /* style connexion  */

 #connexionForm {
     width: 400px;
     margin: 5% auto;
     padding: 20px;
     background-color: #f7f7f72b;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
 }

 #connexionForm label {
     display: block;
     margin-bottom: 5px;
 }

 #connexionForm input[type="mail"],
 #connexionForm input[type="password"] {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     margin-bottom: 15px;
 }

 #connexionForm button {
     padding: 10px 20px;
     color: white;
     border: none;
     border-radius: 4px;
     background-color: var(--secondaire_dark);
     cursor: pointer;
 }

 #connexionForm button:hover {
     background-color: var(--secondaire_dark);
 }

 #connexionForm p {
     color: red;
     font-weight: bold;
     margin-top: 10px;
 }

 .burger {
     top: 0 !important;
     position: relative;
     display: none !important;
     color: var(--color_white);
     width: 60px;
     height: 60px;
     cursor: pointer;
 }

 /* media $************************ */


 @media screen and (max-width: 998px) {

     .texte_blog {
         display: block;
         font-size: x-large;
     }

     .texte_blog img {
         display: none;
     }

     .logo {
         right: 42%;
         width: 90px;
         height: 59px;
     }


     .burger {
         display: block !important;
     }

     .nav-links {
         display: none;
         position: absolute;
         background-color: #fff;
         width: 100%;
         height: 100vh;
         top: 0;
         left: 0;
         text-align: center;
         transition: all 0.5s ease-in-out;
     }

     .nav-links.open {
         display: block;
     }
 }



 /* responsive navbar */

 @media screen and (max-width: 998px) {


     .boot {
         flex-wrap: wrap;
     }

     .boot p {
         font-size: small;
     }


     .burger {
         display: block !important;
     }
 }

 @media screen and (max-width: 830px) {
     .parent {
         display: block;
         margin-left: 34%;
     }

     .div1,
     .div2,
     .div3,
     .div4,
     .div5 {
         display: block;
         width: 250px;
         height: 250px;

     }

     .para_banniere {
         justify-content: center;
     }

     .para_banniere p {
         font-size: large;
     }

     .btn_voir_fleur {
         font-size: small;
     }

 }



 @media screen and (max-width: 714px) {
     .btn_bouquets {
         font-size: small;
     }
     .explication_delivery p {
        font-size: small;
     }

 }

 @media screen and (max-width: 540px) {

     .choice_event_title h1 {
         font-size: small;
     }

     .parent {
         margin: 41px;
         margin-left: 12%;
     }

     .container_delivery {
         flex-direction: column;
         margin-left: 33%;
     }

     .etape {
         display: inline-table;
     }

     .rond_un {
         width: 61%;
         height: 63px;
     }

     .rond {
         width: 78%;

     }

     .descr_etape {
         font-size: x-small;

     }

         .fleurs{
            font-size:larger ;
         }
 }

 @media screen and (max-width: 430px) {
     .lien_fleur {
         display: none;
     }

     .card_container {
         justify-content: center;
     }

     .texte_blog {
         display: block;
         font-size: small;
     }

     .lien_blog {
         font-size: small;
     }
 }